:root {
    --cor0: #FAF3D5;
    --cor1: #DEDABD;
    --cor2: #f1f1ed;
    --cor3: #f1dc96;
    --cor4: #b39431;
}


#MainMenu {
    visibility: hidden;
}


.stMarkdown {
    text-align: center;
}

/*section grafico*/
.css-1y4p8pa {
    background-color: var(--cor0);
}



/*menu, main e header*/
.css-6qob1r, .css-uf99v8, .css-18ni7ap  {
    background-color: var(--cor1);
}   


footer {
    visibility: hidden;
}

.st-au, st-ax st-av st-aw st-bd st-bf st-b8 st-b3 st-b4 st-bg st-bh st-bi st-bj st-bk st-bl st-bm st-bn st-bo st-bp st-b1 st-bq st-br st-bs st-bt st-bu st-bv st-bw {
    background-color: var(--cor1);
}

.st-ae, st-c7 st-ag st-ah st-ai st-aj st-c0 st-c8 st-c9 st-bl st-bm st-bn st-bo st-ca st-cb st-cc st-cd st-au st-av st-aw st-ax st-bd st-ce st-cf st-cg st-b4 st-ch st-ci st-b6 st-cj st-ck st-cl st-cm st-cn st-co  st-cp {
    background-color: var(--cor4);
}